
## <summary>policy for ebitcash</summary>


########################################
## <summary>
##	Transition to ebitcash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ebitcash_domtrans',`
	gen_require(`
		type ebitcash_t, ebitcash_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ebitcash_exec_t, ebitcash_t)
')


########################################
## <summary>
##	Execute ebitcash server in the ebitcash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ebitcash_initrc_domtrans',`
	gen_require(`
		type ebitcash_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ebitcash_initrc_exec_t)
')


########################################
## <summary>
##	Search ebitcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ebitcash_search_lib',`
	gen_require(`
		type ebitcash_var_lib_t;
	')

	allow $1 ebitcash_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ebitcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ebitcash_read_lib_files',`
	gen_require(`
		type ebitcash_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ebitcash_var_lib_t, ebitcash_var_lib_t)
')

########################################
## <summary>
##	Manage ebitcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ebitcash_manage_lib_files',`
	gen_require(`
		type ebitcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ebitcash_var_lib_t, ebitcash_var_lib_t)
')

########################################
## <summary>
##	Manage ebitcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ebitcash_manage_lib_dirs',`
	gen_require(`
		type ebitcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ebitcash_var_lib_t, ebitcash_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ebitcash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ebitcash_admin',`
	gen_require(`
		type ebitcash_t;
		type ebitcash_initrc_exec_t;
		type ebitcash_var_lib_t;
	')

	allow $1 ebitcash_t:process { ptrace signal_perms };
	ps_process_pattern($1, ebitcash_t)

	ebitcash_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ebitcash_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ebitcash_var_lib_t)

')

